@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

    /* p{

        @apply text-gray;
    } */
}

.header nav ul li{
    padding: 0.5rem;

    @apply hover:text-secondary hover:border-b-2 hover:border-secondary ;
}

.tns-controls button:first-child{
    @apply hidden md:block absolute top-[50%] z-10 left-[5%] bg-white rounded-full w-10 h-10 text-primary 
}

.tns-controls button:last-child{
    @apply hidden md:block absolute top-[50%] z-10 right-[5%] bg-white rounded-full w-10 h-10 text-primary
}

.credit__journey{
    background: url(/dist/img/NEW_Download_Now_Red_Copy_c2ab2fd1d5.png);
    position: relative;
}

.requirementsItem{

    background-color: white;
}

@media (min-width: 56.25em){
    #tns2 {
        margin: 0 auto;
        width: calc(75%);
        }
    }

   .testimonials__content{

    width: 917px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 0;
    background: #e11931
   }